.a
{
	background-image: url('file:///G:/E_Journal%20project/images/main.jpg');
}
.b
{
	height: 200px;
	background-image: url( 'file:///G:/E_Journal project/images/rrr.jpg' );
}
.c
{
	background-image: url( 'file:///G:/E_Journal project/images/foter.jpg' );
	
}
.d
{
	width: 30px;
	background-image: url( 'file:///G:/E_Journal project/images/rrr.jpg' );
}
